@model Pager<Board.Service.mSeat>
@using C = Board.Web.Controllers.SeatController
@using CSharpcommon
@using Microsoft.Web.Mvc
@{
	ViewBag.Title = "东方财富 - 布告栏列表";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @Html.ScriptDoc("page/seat/list.js")
}
<h2>编辑布告栏</h2>
<table class="table">
    <tr>
        <th>名称</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model.Result) {
    <tr>
        <td>@(Html.ActionLinkWcls<C>(c => c.Index(item.Id), item.Name))</td>
        <td>
            @(Html.ActionLinkWcls<C>(c => c.Index(item.Id), "编辑"))
            @(Html.ActionLinkWcls<C>(c => c.Delete(item.Id), "删除"))
            @(Html.ActionLinkWcls<C>(c => c.Front(item.Id), "查看输出"))
            @(Html.ActionLinkWcls<C>(c => c.History(item.Id, 1), "历史记录"))
        </td>
    </tr>
    }
</table>
@Html.Partial("_PagerPartial")

<p class="p10">
    @(Html.ActionLink<C>(c => c.Creat(), "新建布告栏", new { @class = "btn" }))
</p>