@model Board.Web.ViewModels.ChangePasswordModel
@Layout = "~/Shared/_LayoutPub.cshtml"}
@{ViewBag.Title = "东方财富 - 布告栏 - 更改密码";}

<h1><a href="/" title="东方财富">东方财富 - 布告栏</a></h1>
<h2>更改密码</h2>

@Html.ValidationSummary(true, "密码更改不成功，请更正以下错误：", new { @class = "notifi error" })
@{Html.BeginForm("Register", "ChangePassword", FormMethod.Post);}
    <p>
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword)
    </p>
    <p>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </p>
    <p class="clear">
        <input type="submit" class="submit abtn afol FR" value="更改密码" />
    </p>
@{Html.EndForm();}